{{page-title "Ember Movie Database"}}

<nav>
    <LinkTo @route="movies">
        <h1>Ember Movie Database</h1>
    </LinkTo>

    <LinkTo @route="movies">
        <button type="button">Home</button>
    </LinkTo>
</nav>

<div class="content">
    {{outlet}}
</div>
